header {
  position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 8rem;
    background-color: antiquewhite;
    box-shadow: 1px 1px 0px rgb(210, 208, 208);
    width: 100vw;
    z-index: 10000;
  }
  
  header img {
    max-height: 3rem;
  }
  
  @media (max-width: 768px) {
    header {
    position: fixed;
    padding: 1rem 1.2rem;
     display: flex;
     justify-content: space-between;
     height: 6rem;
     width: 100%;
     z-index: 10000;
    }
   
  }
